.card
	.card-back
		.line-numbers
			div 1
			div 2
			div 3
			div 4
			div 5
			div 6
			div 7
			div 8
			div 9
		code
			span.variable const 
			span.function aboutMe 
			span.operator = 
			span {
			.indent 
				span.property 姓名
				span.operator : 
				span.string '李'
				span ,
			
			.indent 
				span.property 意向
				span.operator : 
				span.string '前端开发'
				span ,
			.indent 
				span.property 联系我
				span.operator : 
				span {
				.indent 
					span.property email
					span.operator : 
					span.string '929768022@qq.com'
					span ,
				.indent
					span.property website
					span.operator :
					span.string 'anotaku.github.io'
				span }
			span }
	.card-front
		.line-numbers
			div 1
			div 2
			div 3
			div 4
			div 5
			div 6
			div 7
			div 8
			div 9
		code
			span.variable this
			span .
			span.method addEventListener
			span (
			span.string 'mouseover'
			span , 
			span.function () => 
			span { 
			.indent
				span.variable this
				span .
				span.property flipCard 
				span = 
				span.boolean true
				span ;
			span });